<?xml version="1.0"?>
<!--
/**
 * Copyright © Buhmann. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Buhmann_StockStatusSmile">
        <sequence>
            <module name="Buhmann_StockStatus" />
            <module name="Smile_ElasticsuiteCatalog"/>
            <module name="Smile_ElasticsuiteCore"/>
        </sequence>
    </module>
</config>
